.resource-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.pagination-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #dcdcdc8f;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    font-size: 13px;
    transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}
.pagination-btn.pagination-next {
    padding-left: 15px;
    padding-right: 10px;
}
.pagination-btn.pagination-prev {
    padding-left: 10px;
    padding-right: 15px;
}
.pagination-btn.pagination-prev i {
    margin-right: 8px; 
}

.pagination-btn.pagination-next i { 
    margin-left: 8px; 
}

.pagination-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-btn:not(:disabled):hover {
    background-color: #f0f0f0; 
    border-color: #aaa; 
}

.pagination-current-number {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}