.table-responsive {
    min-height: 300px;
    overflow-x: auto;
}

.sortable {
    cursor: pointer;
}

.sortable i {
    margin-left: 5px;
}

.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

.resource-dropdown-menu {
    border: 1px solid #f0f0f0;
    z-index: 1000;
    min-width: 12rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 0.875rem;
    color: #374151;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 0.35rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.form-check-input:checked {
    background-color: #1F2937 !important;
    border-color: #1F2937 !important;
}
