.resource-form {
    padding: 45px 10px;
}
.header {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.header h4 {
    margin: 0;
    padding-left: 15px;
    position: relative;
}

.header:before {
    background: #1f2937;
    border-radius: 50px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    height: 100%;
    display: inline-block;
}
.form-input-label {
    font-size: 13px;
    line-height: 1.25rem;
    display: block;
    color: rgb(17 24 39/1);
    margin-bottom: 0.4rem;
    font-weight: 500;
    margin-left: 0.2rem;
}

.form-input::placeholder {
    color: #8a8a8a;
    font-size: 13px;
}
.resource-form-btn {
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
 
 