.resource-search {
    position: relative;
}

.resource-search input {
    border-radius: 12px !important;
    padding-right: 60px;
    padding-left: 20px;
    border: 1px solid #ced4da;
    width: 100%;
    outline: none;
    box-shadow: none;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
}

.resource-search input::placeholder {
    text-align: left;
}

.resource-search-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resource-search-btn i {
    font-size: 20px;
}
